<div class='row'>
  <div class='col-xs-6'>
    <% if message.errors.any? %>
      <div class="alert alert-warning">
        <ul>
          <% message.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(message) do |f| %>
      <% if message.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <% f.label :title, 'title' %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <% f.label :content, 'message' %>
        <%= f.text_field :content, class: "form-control" %>
      </div>

  
      <%= f.submit 'submit', class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>



