<h1>Page of message id: <%= @message.id%></h1>

<table>
  <tr>
    <th>id</th>
    <td><%= @message.id %></td>
  </tr>
  <tr>
    <th>title</th>
    <td><%= @message.title %></td>
  </tr>
  <tr>
    <th>content</th>
    <td><%= @message.content %></td>
  </tr>
</table>


<%= link_to 'edit this message', edit_message_path(@message), class: 'btn btn-default' %>
<%= link_to 'delete this message', @message, method: :delete, data: { confirm: 'Do you really want to delete this?' }, class: 'btn btn-danger' %>